<div class="d-flex flex-wrap justify-content-center gap-4">
  <p class="text-start" style="max-width: 400px;">
    Hi, welcome to my little corner of the internet!
    I grew up in Seattle, WA, and graduated from Berklee College of Music in 2019 with a B.M. in Music Production & Engineering, specializing in recoridng hi-fi quality classical music.
    After spending some time back in Seattle recording music, I realized I was far too much of a Linux nerd to not be doing something in tech, so I decided to teach myself web development.
    I now live in the woods on Washington's Kitsap Peninsula making cool software and enjoying beautifully recorded classical music.
  </p>
  <img src="$SHTTR_ASSETS/images/me.jpg" width="256px" height="auto" class="rounded">
</div>

