<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${TITLE}</title>
    <link rel="stylesheet" href="${STYLESHEET}">
    ${VENDOR_SCRIPTS}
    <script type="importmap">
      {
        "imports": {
          "turn": "${node_turn}/dist/turn.min.js"
        }
      }
    </script>
    <script type="module">
      import Turn from 'turn';
      Turn.start();
    </script>
    <script src="${SHTTR_ASSETS}/scripts/dark-mode.js"></script>
    <script src="${SHTTR_ASSETS}/scripts/nav-active.js"></script>
    <script src="${SHTTR_ASSETS}/scripts/typing.js"></script> 
  </head>
  <body class="d-flex flex-column font-monospace mt-4">
    <input type="hidden" id="page-id" name="page-id" value="${PAGE_ID}">
    <div class="container d-flex align-items-center gap-4">
      <button class="btn btn-link text-decoration-none d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#navMenu">
        <h1>&gt;</h1>
      </button>
      <h1 class="mb-0 text-lowercase"># ${TITLE}<span class="blink">|</span></h1>
    </div>
    <div class="d-flex container">
