<div>
  <nav class="offcanvas-lg offcanvas-start" tabindex="-1" id="navMenu">
    <div class="container">
      <div class="offcanvas-header mt-4">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#navMenu" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body justify-content-start">
        <ul class="nav flex-column mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link active" href="/cgi-bin/about.sh">About</a></li>
          <li class="nav-item"><a class="nav-link active" href="/cgi-bin/software.sh">Software</a></li>
          <li class="nav-item"><a class="nav-link active" href="/cgi-bin/contact.sh">Get In Touch!</a></li>
          <li class="nav-item"><a class="nav-link active" href="/cgi-bin/login.sh">Admin Panel</a></li>
          $x_server_nav
        </ul>
      </div>
    </div>
  </nav>
</div>
