<h3>Write Blog Post</h3>
<form method="post">
  <input type="hidden" name="_action" value="add_blog_post">
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="title" placeholder="Title" required>
    <label for="name">Title</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" name="body" placeholder="Body" style="height:240px;" required></textarea>
    <label for="description">Body</label>
  </div>
  <input class="w-100 btn btn-info" type="submit" value="Submit">
</form>
