<div class="pt-1">
  <button class="btn btn-info d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvas" aria-controls="offCanvas">Admin Tools</button>
  <div class="offcanvas-md offcanvas-start" tabindex="-1" id="offCanvas" aria-lablledby="offCanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offCanvasLabel">Admin Tools</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offCanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex justify-content-center">
      <ul class="d-md-flex align-items-center gap-4 list-unstyled">
        <li>
          <button class="btn btn-link">
            <a href="?p=software">Add Software</a>
          </button>
        </li>
        <li>
          <button class="btn btn-link">
            <a href="?p=photography">Add Photo Album</a>
          </button>
        </li>
        <li>
          <button class="btn btn-link">
            <a href="#">Write Blog Post</a>
          </button>
        </li>
        <li>
          <button class="btn btn-link" form="sign_out">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</div>
