<h3>Add Photo Album</h3>
<form method="post">
  <input type="hidden" name="_action" value="add_photo">
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="name" placeholder="Name" required>
    <label for="name">Name</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="url" placeholder="URL" required>
    <label for="url">URL</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="cover_photo" placeholder="Cover Photo URL" required>
    <label for="cover_photo">Cover Photo URL</label>
  </div>
  <input class="w-100 btn btn-info" type="submit" value="Submit">
</form>
