<div class="container p-4" data-turn-enter data-turn-exit>
  <p>Hi, welcome to my site, I'm glad you're here! Please take some time to look around.</p>
  <p>I'm a software developer and game designer from western Washington state, but before you say to yourself "Oh great another software guy from the tech capital of the world," you should know that we do things differently here.</p>
  <p>This is a place where a fun weekend night is spent building a backend web-app framework and its related tooling -- using Posix shell scripts only (hint... you're looking at the result of that experiment right now).</p>
  <p>This is a place where C# was learned, not by incrementally building up from from a "Hello, World!" app (<code>Console.WriteLine("Hello, World!");</code> -- ok there I did it), but by jumping right into studying IL code and writing transpilers for a mod for Stardew Valley (come to think of it, "Hello, World" may have been an easier starting point).</p>
  <p>So go ahead and take a load off, stay a while and see what you find, there's always something fun being cooked up here!</p>
  <div class="d-flex justify-content-end opacity-0" id="mobile-only">
    <div class="d-flex flex-column align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-arrow-right arrow-hint" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
      </svg>
      <p>(swipe me)</p>
    </div>
  </div>
</div>
