<div class="container p-4" data-turn-enter data-turn-exit>
  <p>Hi, welcome to my site, I'm glad you're here! Please take some time to look around.</p>
  <p>I like to make cool software and web apps, check out the software page to see what I've been working on lately.</p>
  <p>There's going to be a blog here too at some point in the near future, so that'll be cool, just gotta find the time to build the thing! Check back soon to see how that's going.</p>
  <div class="d-flex justify-content-end opacity-0" id="mobile-only">
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-arrow-right arrow-hint" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
    </svg>
  </div>
</div>
