<!-- I'll stop using depricated tags when Google stops using <center> on google.com! -->
<marquee class="invisible" width="100%" direction="right">
  <img src="${SHTTR_ASSETS}/images/rocket.gif" style="transform: scaleX(-1) rotate(340deg);">
</marquee>
<script>
  window.addEventListener("turbo:load", () => {
    document.querySelector("marquee").classList.remove("invisible");
  });
  window.addEventListener("turbo:click", () => {
    document.querySelector("marquee").classList.add("invisible");
  });
</script>
